[submodule "libs/tinyusb"]
	path = libs/tinyusb
	url = https://github.com/hathach/tinyusb
[submodule "libs/RCP_Target"]
	path = libs/RCP_Target
	url = https://github.com/liquid-rocketry-illinois/RCP-Target
